* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Vazirmatn", sans-serif;
}
.container {
  height: 100vh;
}
.menu {
  background-color: rgba(187, 184, 184, 0.2);
  position: sticky;
  top: 0;
}
.logo {
  width: 10%;
  float: right;
  padding-top: 5px;
}
.logo h3 {
  color: rgb(112, 80, 191);
  display: inline-block;
}
.nav {
  width: 70%;
  float: right;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
  position: relative;
}
li span {
  position: relative;
  top: 10px;
}

ul li a {
  display: block;
  padding: 5px 25px;
  color: #6c6868;
  text-decoration: none;
  font-size: 15px;
}
.dropdown {
  border: 2px solid rgb(128, 128, 128, 0.2);
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.dropdown li {
  display: inline-block;
  padding: 0;
  width: 160px;
  height: 50px;
}
.dropdown a {
  padding-right: 5px;
}
ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  position: absolute;
  z-index: 100;
  display: none;
}
.expand-more {
  display: inline-block;
}
.expand_less {
  display: inline-block;
  color: rgb(112, 80, 191);
  display: none;
}

ul li:hover {
  .orginal-title {
    color: rgb(112, 80, 191);
  }
  .expand-more {
    display: none;
  }
  .expand_less {
    display: inline-block;
  }
}
.dropdown li a:hover {
  background-color: rgba(225, 132, 244, 0.4);

  font-weight: bold;
  border-radius: 5px;

}
.dropdown li:hover{
    .arrow-back{
    display: block;
    color:rgb(201, 91, 223) ;
  
  }
}
.arrow-back {
  float: left;
  transition-delay: 1s;
  transition-duration: 0.5s;
  display: none;
    transition-duration: 2s;
    transition-delay: 1s;
}

ul li:hover ul.dropdown {
  display: block;
}

#leader {
  width: 250px;
  height: 350px;
}
#leader li {
  width: 200px;
}

#emkanat {
  width: 480px;
  height: 250px;
}

#emkanat li {
  display: inline-block;
  width: 155px;
  height: 50px;
}

.botton {
  width: 20%;

  float: right;
}
.botton1 {
  height: 50px;
  width: 7%;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  border: 2px solid rgb(112, 80, 191);
}
.botton2 {
  height: 50px;
  width: 7%;
  border: 2px solid rgb(112, 80, 191);
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  background-image: linear-gradient(
    to left,
    rgb(65, 46, 115),
    rgb(108, 79, 182)
  );
  padding-top: 10px;
}
.botton1 a {
  color: rgb(65, 46, 115);
  text-decoration: none;
}
.botton2 a {
  color: white;
  text-decoration: none;
}
.botton2:hover {
  background-image: linear-gradient(
    to right,
    rgb(65, 46, 115),
    rgb(108, 79, 182)
  );
}

.download {
  float: left;
  padding: 10px;
}
