* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Vazirmatn", sans-serif;
}
.container {
  height: 100vh;
  margin-bottom: 20px;
}
.section1 {
  height: 100%;
  background-image: linear-gradient(
    rgb(204, 208, 255),
    rgb(204, 208, 255),
    rgb(237, 240, 255)
  );
  position: relative;
}
.menu {
  background-color: rgba(250, 247, 247, 0.9);
  backdrop-filter: blur(7px);
  position: fixed;
  /* top: 0; */
  z-index: 10000;
  width: 100%;
}
.logo {
  width: 10%;
  float: right;
  padding-top: 5px;
}
.logo h3 {
  color: rgb(112, 80, 191);
  display: inline-block;
}
.nav {
  width: 70%;
  float: right;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
  position: relative;
}
li span {
  position: relative;
  top: 10px;
}

ul li a {
  display: block;
  padding: 0px 25px;
  color: #6c6868;
  text-decoration: none;
  font-size: 15px;
}
/* ******** */
.dropdown {
  border: 2px solid rgb(128, 128, 128, 0.2);
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 10px;
}
.dropdown li {
  display: inline-block;
  padding: 0;
  width: 160px;
  height: 50px;
  position: relative;
}
.dropdown a {
  padding-right: 5px;
}
ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  position: absolute;
  z-index: 100;
  display: none;
}
.expand-more {
  display: inline-block;
}
.expand_less {
  display: inline-block;
  color: rgb(112, 80, 191);
  display: none;
}

ul li:hover {
  .orginal-title {
    color: rgb(112, 80, 191);
  }
  .expand-more {
    display: none;
  }
  .expand_less {
    display: inline-block;
  }
}
.dropdown li a:hover {
  background-color: rgba(225, 132, 244, 0.4);

  font-weight: bold;
  border-radius: 5px;
}
.dropdown li:hover {
  .arrow-back {
    color: rgb(201, 91, 223);
    visibility: visible;
    opacity: 1;
  }
}
.arrow-back {
  position: absolute;
  left: 0;
  bottom: 28px;
  visibility: hidden;
  transition: opacity 2s;
  opacity: 0;
}

ul li:hover ul.dropdown {
  display: block;
}

#leader {
  width: 250px;
  height: 350px;
}
#leader li {
  width: 200px;
}

#emkanat {
  width: 480px;
  height: 250px;
}

#emkanat li {
  display: inline-block;
  width: 155px;
  height: 50px;
}

.botton {
  width: 20%;

  float: right;
}
.botton1 {
  height: 50px;
  width: 7%;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  border: 2px solid rgb(112, 80, 191);
}
.botton2 {
  height: 50px;
  width: 7%;
  border: 2px solid rgb(112, 80, 191);
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  background-image: linear-gradient(
    to left,
    rgb(65, 46, 115),
    rgb(108, 79, 182)
  );
  padding-top: 10px;
}
.botton1 a {
  color: rgb(65, 46, 115);
  text-decoration: none;
}
.botton2 a {
  color: white;
  text-decoration: none;
}
.botton2:hover {
  background-image: linear-gradient(
    to right,
    rgb(65, 46, 115),
    rgb(108, 79, 182)
  );
}
.botton1:hover {
  background-color: rgb(108, 104, 104, 0.2);
}
.download {
  float: left;
  padding: 10px;
}

.section1 .S1-left {
  width: 70%;
  height: 100%;
  position: absolute;
  left: 0;
}
.section1 .s1-right {
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0;
}

.S1-left-top {
  height: 85%;
}
.S1-left-top img {
  height: 100%;
  width: 100%;
}
.S1-left-bottom {
  height: 15%;
}
.box {
  height: 40px;
  width: 200px;
  border-radius: 40px;
  position: fixed;
  color: white;
  left: 10px;
  bottom: 10px;
  background-color: rgb(119, 77, 209);
  padding: 5px 20px;
}
.box a {
  text-decoration: none;
  color: white;
  position: relative;
  bottom: 10px;
}
.s1-right-top {
  padding: 40px;
  font-size: 20px;
  height: 70%;
}
.s1-right-top p {
  color: #6c6868;
  padding-top: 10px;
}
.s1-right-bottom {
  height: 30%;
}
.white-box {
  margin: 15px;
  height: 50px;
  width: 40px;
  background-color: white;
  border-radius: 10px;
}
.s1-right-bottom {
  position: relative;
}
.register {
  height: 50px;
  width: 180px;
  background-image: linear-gradient(
    to left,
    rgb(76, 51, 138),
    rgb(110, 78, 191)
  );
  border-radius: 10px;
  position: absolute;
  left: 45px;
  top: 3px;
  text-align: center;
  padding-top: 10px;
  color: #ffffff;
}
.register:hover {
  background-image: linear-gradient(
    to right,
    rgb(76, 51, 138),
    rgb(110, 78, 191)
  );
}

.qick-register {
  height: 50px;
  width: 230px;
  position: absolute;
  right: 20px;
  background-color: white;
  border-radius: 10px;
}
.qick-register img {
  height: 20px;
  width: 20px;
  margin: 15px;
}
.qick-register a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  position: absolute;
  left: 40px;
  top: 10px;
  font-weight: bold;
}
.section2 {
  height: 200px;
  background-color: rgb(80, 53, 148);
}
.section2-item {
  color: white;
  float: right;
  width: 25%;
  text-align: center;
  padding: 40px;
}

.section3 {
  height: 800px;
  width: 100%;
}

.section3 .section3-part1 {
  height: 15%;
  padding: 20px;
}

.section3 .section3-part2 {
  height: 15%;
}

.section3 .section3-part2-right {
  width: 50%;
  height: 100%;
  float: right;
}
.section3 .section3-part2-left {
  width: 50%;
  height: 100%;
  float: left;
}

.botton-section-right-outside-body {
  height: 55px;
  width: 200px;
  margin: 20px;
  border: 2px solid rgb(228, 230, 240);
  border-radius: 5px;
}
.botton-section3-right-inside {
  height: 40px;
  width: 100px;
  margin: 5px;

  background-color: rgb(228, 230, 240);
  border-radius: 5px;
  padding: 7px 30px;
}
.botton-section3-right-inside a {
  text-decoration: none;
  color: black;
}
.teter {
  position: relative;
}

.teter a {
  color: rgb(131, 128, 132);
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  left: 45px;
}

#outlined-icon {
  position: relative;
  top: 10px;
}

.section3-text-header-left {
  float: left;
  padding-top: 20px;
}
.section3-text-header-left a {
  text-decoration: none;
  font-size: 18px;
}

.section3-part3 {
  height: 70%;
  width: 100%;
}

.section3 .sectionpart3-column {
  width: 16%;
  height: 100%;
  float: right;
}

.section3-part3-line-title {
  height: 10%;
}

.section3-part3-line-title h1 {
  color: #adaaaa;
  font-size: 15px;
  padding-top: 5%;
}

.section3-part3-line {
  height: 15%;
  padding-top: 12px;
}
.nemodar-img img {
  width: 190px;
}
.iconline {
  float: right;
}
.iconline img {
  height: 40px;
  width: 40px;
}
.textline {
  position: relative;
  right: 10px;
  padding-top: 10px;
}
.textline a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.IRT {
  text-align: left;
  padding-top: 12px;
  padding-left: 35px;
}
.change {
  padding-top: 10px;
  padding-right: 30px;
}
.BTC {
  padding-top: 12px;
  text-align: left;
  padding-left: 100px;
}
.shop-sale {
  height: 40px;
  width: 100px;
  border: 1px solid rgb(80, 53, 148);
  border-radius: 10px;
  text-align: center;
  padding-top: 3px;
  margin: 10px auto;
}
.shop-sale a {
  text-decoration: none;
}
.shop-sale:hover {
  background-color: #cfcece;
}
#nemodar h1 {
  text-align: center;
}

.section4 {
  height: 300px;
  background-image: url(../image/banner-2.2a5da43part4.webp);
  background-repeat: no-repeat;
  background-position: left;
  background-color: rgb(40, 33, 59);
}
.section4-stikingfarming-left {
  width: 40%;
  height: 100%;
  color: white;
  float: right;
}
.section4-stikingfarming-left h1 {
  padding: 50px 50px 20px;
}
.section4-stikingfarming-left p {
  padding: 0 50px;
  font-weight: bold;
}
.section4-bishtarbedanid-right {
  width: 60%;
  height: 100%;
  float: right;
  position: relative;
}
.bishtar-bedanid {
  height: 80px;
  width: 200px;
  background-color: white;
  border-radius: 50px;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  top: 50%;
}

.bishtar-bedanid a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.section5 {
  height: 1000px;
  width: 100%;
  background-color: rgb(242, 243, 245);
}
.heading-product {
  padding: 70px 10px 0 0;
  height: 20%;
}
.container-product-section5 {
  height: 75%;
  width: 99%;
  margin: auto;
  border: 2px solid rgb(228, 230, 240);
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}
.container-product-right {
  width: 30%;
  height: 100%;
  float: right;
}
.container-product-left {
  width: 70%;
  height: 100%;
  float: left;
}

.text-product-right-section5 {
  height: 25%;
  border-bottom: 2px solid rgb(246, 245, 255);
  position: relative;
}
.text-product-right-section5:hover {
  background-color: rgb(246, 245, 255);
  .topic-product a {
    color: rgb(107, 77, 189);
  }
  .arrowback-section5 {
    display: block;
  }
}
.topic-product {
  position: absolute;
  top: 50%;
  right: 5%;
}
.topic-product a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
}
.arrowback-section5 {
  position: absolute;
  top: 50%;
  left: 5%;
  height: 35px;
  width: 35px;
  background-color: rgb(107, 77, 189);
  border-radius: 50%;
  text-align: center;
  display: none;
}
.arrowback-section5 span {
  color: #ffffff;
  padding-top: 5px;
}

.container-product-left-top {
  height: 50%;
  width: 100%;
  padding: 20px;
  position: relative;
}
.container-product-left-top .zrb5 {
  background-color: rgb(255, 174, 0);
  border-radius: 20px;
  width: 50px;
  text-align: center;
  position: absolute;
  left: 400px;
  top: 35px;
  padding-top: 5px;
}
.container-product-left-bottom {
  height: 50%;
  width: 100%;
  position: relative;
}
.box-kharid {
  height: 30px;
  width: 190px;
  background-color: rgb(107, 77, 189);
  border-radius: 10px;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 150px;
}
.box-kharid a {
  text-decoration: none;
  color: white;
}
.container-product-left-bottom-right {
  width: 45%;
  height: 90%;
  /* border: 2px solid rgb(227, 228, 230); */
  border-radius: 10px;
  position: absolute;
  right: 20px;
  border: 2px solid rgb(227, 228, 230);
  padding: 20px;
}
.container-product-left-bottom-left {
  width: 45%;
  height: 90%;
  border: 2px solid rgb(227, 228, 230);
  border-radius: 10px;
  position: absolute;
  left: 20px;
}
.image-1-gain-loss img {
  height: 30px;
  width: 40px;
  margin: 18px 0;
}
.image-1-gain-loss {
  position: relative;
}
.texts-profit-loss {
  position: absolute;
  right: 50px;
  top: 10px;
}
.percent-loss {
  position: absolute;
  left: 0;
  top: 10px;
  text-align: left;
}
.number {
  color: rgb(21, 209, 197);
}
.number-loss {
  color: rgb(245, 137, 146);
}

.SECTION6 {
  height: 1500px;
}
.SECTION6-part1 {
  height: 500px;
}

.SECTION6-part2 {
  height: 300px;
  /* background-color: #6c6868; */
}
.SECTION6-part3 {
  height: 500px;
  /* background-color: yellowgreen; */
}
.SECTION6 .figure {
  width: 33%;
  height: 500px;
  float: right;
  text-align: center;
}
.figer-pic {
  height: 250px;
  width: 260px;
  border: 2px solid rgb(195, 193, 193);
  border-radius: 5px;
  margin: 50px auto;
}
.figer-pic img {
  height: 250px;
  width: 250px;
}

#pic2-section6 img {
  height: 260px;
  width: 350px;
  position: relative;
  left: 60px;
}

.figure-caption {
  padding: 20px;
}

.figure-caption p {
  color: rgb(150, 150, 150);
}
.heading-security {
  text-align: center;
}
.security-district {
  width: 33%;
  height: 125px;

  float: right;
  /* border: 2px solid red; */
  padding: 15px;
  position: relative;
}
.security-district h4 {
  position: absolute;
  top: 20px;
  right: 70px;
}
.security-district p {
  color: rgb(163, 163, 163);
}
#bordedr-part1 {
  border-bottom: 2px solid rgb(163, 163, 163);
  border-left: 2px solid rgb(163, 163, 163);
}
#bordedr-part2{
  border-bottom: 2px solid rgb(163, 163, 163);
  border-left: 2px solid rgb(163, 163, 163);
}
#bordedr-part3{
  border-bottom: 2px solid rgb(163, 163, 163);

}
#border-part5{
  border-left: 2px solid rgb(163, 163, 163);
  border-right: 2px solid rgb(163, 163, 163);

}