* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: IRANYekan, sans-serif;
  height: 100vh;
}
@media (min-width: 360px) {
  html {
    font-size: 10px;
  }
}

.img-header {
  width: 100%;
}

.header-box {
  height: 100px;
  display: flex;
}

.right {
  width: 80%;
  height: 100%;
  display: flex;
}
.right .logo {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .logo img {
  width: 100%;
}
.left {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbox {
  height: 50%;
  width: 90%;
  border-radius: 10px;
  background-color: rgb(242, 242, 242);
  display: flex;
  align-items: center;
  color: rgb(162, 163, 168);
}
.fa-search {
  padding: 10px;

  font-size: 20px;
}

.searchbox span {
  padding: 10px;
  font-size: 12px;
}

.login {
  border: 2px solid rgb(225, 225, 227);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 15px;
}
.login a {
  color: rgb(66, 70, 79);
  text-decoration: none;
}

.shop {
  padding: 5px;
  border-right: 2px solid rgb(225, 225, 227);
}

.shop a {
  color: rgb(66, 70, 79);
}

.menu-box {
  height: 70px;

  border-bottom: 2px solid rgb(212, 212, 212);
  display: flex;
}

.menu-box .menubox-right {
  width: 80%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-box .menubox-left {
  width: 20%;
  height: 100%;
}

.box-menu {
  display: flex;
}

.box-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #62666d;
  padding: 5px;
}

.percent {
  border: 2px solid #62666d;
  border-radius: 50%;
}

.kala {
  border-left: 1px solid rgb(225, 225, 227);
}

.sale {
  border-left: 1px solid rgb(225, 225, 227);
}
.menubox-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menubox-left a {
  color: rgb(245, 133, 22);
  text-decoration: none;
}

.bg-left {
  background-color: rgb(255, 245, 237);
  border-radius: 10px;
  height: 50px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
