* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
}

.navar {
  height: 80px;
  background-color: rgba(222, 220, 220, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  width: 15%;
  height: inherit;
  float: right;
  padding-top: 20px;
}
.logo h1 {
  color: rgb(112, 80, 191);
  display: inline-block;
}
.nav {
  width: 60%;
  height: inherit;
  float: right;
}
ul {
  display: inline-block;
  list-style-type: none;
}
ul li {
  float: right;
  padding: 20px;
}
ul li span {
  position: relative;
  top: 10px;
}
ul li a {
  color: black;
  text-decoration: none;
}
.botton {
  width: 25%;
  height: inherit;
  float: right;
  padding-top: 10px;
}
.botton1 {
  height: 50px;
  width: 100px;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  border: 2px solid rgb(112, 80, 191);
}
.botton2 {
  height: 50px;
  width: 100px;
  border: 2px solid rgb(112, 80, 191);
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  background-image: linear-gradient(
    to left,
    rgb(65, 46, 115),
    rgb(108, 79, 182)
  );
  padding-top: 10px;
}
.botton2:hover {
  background-image: linear-gradient(
    to right,
    rgb(65, 46, 115),
    rgb(108, 79, 182)
  );
}
.botton1 a {
  text-decoration: none;
  color: rgb(112, 80, 191);
}
.botton2 a {
  color: white;
  text-decoration: none;
}
